.couleur-top {
    color: gray;
}

/* .slogan {
    float: right;
} */



















































@media screen and (max-width: 768px) {
    aside  {
      
      display: none;
   }
    html {
      font-size: 100%;
    }
     ul, li, a {
        display: block;
        

     }
     
    

}




/* tableau */

table, th, td{
    border: 1px solid rgb(3, 3, 3);   
}

/* alignement tableau */

.alignement {
    text-align: center;
}





 .promotion {
    height: 100%;
    width: 100%;
}




/* .logo {
    width: 15%;
    height: 15%;
}

.slogan {
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;

}
span .logo .slogan{
    border: -40px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    
    
}

span {
    display: flex;
    align-items: center;
}  */




/* Nav haut */

/* Liste/liens jarditou */

 /* ul {
    padding:1;
    margin:0;
    list-style-type:none;
   
} */
/* 
li {
    margin-left: 2px;
}  */


 /* li  {
    display: inline;
    background-color: black;


} */


/* text-align: center;
    display:block;
    float: left;
     width: 60px;
    padding: 1px;
   */
/* text-align: center;
text-align: center; */

/* Couleur liens jarditou */
 /* .blanc-top{
    color: rgb(255, 255, 255);
    
    position: relative;
    top: 20px;
    left: 25px; 
}


.blanc-bottom{
    color: rgb(255, 255, 255);
    
    position: relative;
    
    top: 20px;
    left: 25px;
    height: auto;
    width: 110px;
    
} */
.lien-background-top{
    background-color: black;
    padding: 5px;
    margin-bottom: 5px;
}


.lien-background-bottom { 
    background-color: black; 
    padding: 5px;
    margin-top: 5px;

}  
a {
    color: white;
}


/* height: 60px; 
    width: auto; */
/* Pannel coté droit */

.accueil {
    float: right;
    background-color: lightgray;
    height: 700px;
    width: 450px;
    padding-left: .5rem;
    margin-left: .5rem;
    
}
.tableau { 
    float: right;
    background-color: lightgray;
    height: 820px;
    width: 450px;
    padding-left: .5rem;
    margin-left: .5rem;
}
.formulaire {  
    float: right; 
    background-color: lightgray;
    height: 560px;
    width: 450px;
    padding-left: .5rem;
    margin-left: .5rem;
}
aside > p {
    margin: .5rem;
}

/*Coté droit */
/* aside {
    float: right;
    background-color: lightgray;
    height: 700px;
    width: 450px;
    padding-left: .5rem;
    margin-left: .5rem;
}*/






































































